@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  height: 100%;
  font-family: "Roboto" !important;
}
body, .App #root{
  min-height: 100vh;
  background-color: #454b51 !important;
}

.logo-center {
  padding: 7% 0;
  text-align: center;
  min-height: 80vh;
}

.svg-logo {
  height: 50vh;
  margin-bottom: 20%;
}

footer {
  text-align: center;
  color: #777;
  font-weight: 200;
}

.container-top {
  padding: 7% 0 0 0;
}

.centered {
  text-align: center;
}

.text {
  color: white;
  text-align: left;
}

.text p{
  text-align: justify;
}

footer {
  padding-bottom: 20px;
}

.p-top {
  padding: 40%;
}

.row p {
  text-align: left;
}

.p-top img {
  /* width: 100%; */
}

.cardz {
  padding: 10%
}

.test {
  padding: 20%;
  min-height: 80vh;
  color: white;
}

.test h1 {
  font-size: 5rem;
  text-align: center;
}

.test .col {
  font-size: 2rem;
  padding-left: 20vw;
  padding-top: 20px;
}

.people {
  
  vertical-align: center;
  width: 15vw;
  height: 12vw;
}

#wrapper td {
   vertical-align: middle;
   text-align: center;
}
#wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}