html {
  height: 100%;
}
body, .App #root{
  min-height: 100vh;
  background-color: #454b51 !important;
}

.logo-center {
  padding: 7% 0;
  text-align: center;
  min-height: 80vh;
}

.svg-logo {
  height: 100%;
}

footer {
  text-align: center;
  color: #777;
  font-weight: 200;
}

.container-top {
  padding: 7% 0 0 0;
}

.centered {
  text-align: center;
}

.text {
  color: white;
  text-align: left;
}

.text p{
  text-align: justify;
}

footer {
  padding-bottom: 20px;
}