.text-content {
    color: white;
    text-align: left;
}

.content {
    padding: 50px 0 0 0;
    height: 100%;
    text-align: center;
}

.content .normal-img {
    width: 50%;
    margin-right: 25px;
    height: 50%;
    /* margin-bottom: 25px; */
    text-align: center;
}

.content .carousel-img {
    height: 40vh;
}

.title {
    text-align: center;
    padding: 3vh;
}

.Button {
    text-align: center;
}