.text-content {
    color: white;
}

.content {
    padding: 50px 0 0 0;
    height: 100%;
}

.content .normal-img {
    width: 30%;
    margin-right: 25px;
    height: 100%;
    /* margin-bottom: 25px; */
    float: left;
}

.content .carousel-img {
    width: 100%;
}